<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>在制零件</title>
</head>
<body>
<p><strong>在制零件计算：</strong><br /> </p>
<p>------------------------</p>
<form enctype="multipart/form-data" action="/upload_file/" method="post">
   <input type="file" name="myfile" />
   <input type="submit" value="提交"/>

<p>------------------------</p>
</form>
<p>{{ok}}</p>
<div class="col-md-4"><a href="/download/" rel="external nofollow" >点我下载</a></div>
    <p>------------------------</p>
</body>
</html>